---
import type { GetStaticPathsOptions } from "astro";
import Pagination from "../../components/Pagination.astro";
import { BLOG_DESCRIPTION } from "../../constants";
import Layout from "../../layouts/Layout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCardItem from "../../components/BlogCardItem.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await Astro.glob("../../content/**/*.{md,mdx}");

  const slugify = (filePath: string) => {
    let fileName = filePath.split("/").pop();
    fileName = fileName?.split(".").shift() || "";
    return fileName
      .toLowerCase()
      .replace(/[^a-z0-9 -]/g, "")
      .replace(/\s+/g, "-");
  };

  const formattedPosts = allPosts
    .map((post: any) => {
      return {
        ...post,
        slug: slugify(post.url),
      };
    })
    .sort(
      (a: any, b: any) =>
        new Date(a.frontmatter.date).getTime() -
        new Date(b.frontmatter.date).getTime()
    )
    .reverse();

  return paginate(formattedPosts, {
    pageSize: 10,
  });
}

const { page } = Astro.props;

console.log(page.data[6]);
---

<Layout description={BLOG_DESCRIPTION}>
  <MainLayout>
    <div class="flex justify-between items-center py-6">
      <h2 class="text-2xl">Read my blog...</h2>
    </div>
    {
      page.data.map((data: any) => (
        <>
          <BlogCardItem
            url={
              data.frontmatter.repo
                ? data.frontmatter.repo
                : `/blog/${data.slug}`
            }
            frontmatter={data.frontmatter}
          />
        </>
      ))
    }
    <Pagination prev={page.url.prev} next={page.url.next} />
  </MainLayout>
</Layout>

<style is:global>
  a.blogItemLink {
    border: 1px solid #fff;
    display: block;
    cursor: pointer;
    transition-property: all;
    transition-timing-function: fade;
    transition-duration: 150ms;
  }
  a.blogItemLink:hover {
    border: 1px solid #b9e1ff;
  }
</style>
