---
import type { GetStaticPathsOptions } from "astro";
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import BlogCardItem from "@components/BlogCardItem.astro";
import { getBlogsAndRepos, getAllTags } from "@utils/collections";
import { BLOG_DESCRIPTION, PAGINATE_CONTENT } from "@const";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await Astro.glob("../../content/{blog,repo}/*.{md,mdx}");

  const slugify = (filePath: string) => {
    if (filePath.endsWith("/")) {
      filePath = filePath.slice(0, -1);
    }

    let fileName = filePath.split("/").pop();
    fileName = fileName?.split(".").shift() || "";

    return fileName
      .toLowerCase()
      .replace(/[^a-z0-9 -]/g, "")
      .replace(/\s+/g, "-");
  };

  const formattedPosts = allPosts
    .map((post: any) => {
      return {
        ...post,
        slug: slugify(post.url),
        year: new Date(post.frontmatter.date).getFullYear(),
      };
    })
    .filter((post: any) => post.frontmatter.isDraft !== true)
    .sort(
      (a: any, b: any) =>
        new Date(b.frontmatter.date).getTime() -
        new Date(a.frontmatter.date).getTime(),
    );

  return paginate(formattedPosts, {
    pageSize: PAGINATE_CONTENT,
  });
}

const { allCollections } = await getBlogsAndRepos();
const allTags = getAllTags(allCollections);

const { page } = Astro.props;
---

<Layout title="Read my Blog" description={BLOG_DESCRIPTION}>
  <MainLayout
    title="Read my blog..."
    tags={allTags}
    pagination={{ prev: page.url.prev, next: page.url.next }}
  >
    {
      (
        Object.entries(
          page.data.reduce((acc: any, curr: any) => {
            if (!acc[curr.year]) {
              acc[curr.year] = [];
            }
            acc[curr.year].push(curr);
            return acc;
          }, {}),
        ) as [string, any[]][]
      )
        .sort(([yearA], [yearB]) => Number(yearB) - Number(yearA))
        .map(([year, posts]) => (
          <>
            <h3 class="text-xl mb-4 border-b pb-4">{year}</h3>
            {posts.map((post: any) => (
              <BlogCardItem
                url={
                  post.frontmatter.repo
                    ? post.frontmatter.repo
                    : `/blog/${post.slug}/`
                }
                frontmatter={post.frontmatter}
                repo={post.frontmatter.repo ? true : false}
              />
            ))}
          </>
        ))
    }
  </MainLayout>
</Layout>
