---
import { getBlogsAndRepos, getAllTags } from "@utils/collections";
import { BLOG_DESCRIPTION } from "../../../constants";
import Layout from "@layouts/Layout.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Archives from "@components/Archives.astro";

export async function getStaticPaths() {
  const allPosts = (await getBlogsAndRepos()).allCollections;
  const postYears = new Map();

  allPosts.forEach((post) => {
    const year = new Date(post.data.date).getFullYear();

    if (!postYears.get(year)) {
      postYears.set(year, []);
    }

    postYears.get(year).push(post);
  });

  return [...postYears.entries()].map(([year, posts]) => ({
    params: { year },
    props: { posts },
  }));
}

const { allCollections } = await getBlogsAndRepos();
const allTags = getAllTags(allCollections);

const { year } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Posts in ${year}`} description={BLOG_DESCRIPTION}>
  <MainLayout title={`Posts in ${year}`} tags={allTags}>
    <div class="flex flex-row">
      <div
        class="w-full md:w-3/4 pr-0 md:pr-4 pb-6 border-r-0 md:border-r border-gray-300"
      >
        <div class="blog text-gray-900">
          <ul>
            {
              posts.map((post: any) => (
                <li>
                  <a
                    href={`/blog/${post.slug}/`}
                    class="flex justify-between mb-4 border border-gray-300 hover:bg-gray-100 rounded-md p-3"
                  >
                    <h2 class="font-bold text-md mb-1 flex-grow truncate pr-2">
                      {post.data.title}
                    </h2>

                    <time
                      datetime={post.data.date.toISOString()}
                      class="flex-shrink-0"
                    >
                      {post.data.date.toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <aside class="w-1/4 p-4 hidden md:block">
        <Archives />
      </aside>
    </div>
  </MainLayout>
</Layout>
