---
import { formatDate } from "../utils/formatDate";
import Layout from "./Layout.astro";
import MainLayout from "./MainLayout.astro";
import { getBlogs, parseTags } from "../utils/blog";
import BlogDescription from "../components/BlogDescription.astro";
import Pagination from "../components/Pagination.astro";
import type { CollectionEntry } from "astro:content";
import type { MarkdownLayoutProps } from "astro";

const { frontmatter, headings } = Astro.props as MarkdownLayoutProps<
  CollectionEntry<"blog">["data"]
>;
const date = formatDate(new Date(frontmatter.date));
const indices = headings.filter((heading) => heading.depth < 4);
const diffDate =
  (new Date().getTime() - new Date(frontmatter.date).getTime()) /
  (60 * 60 * 1000 * 24);
const { title, description, image, tags } = frontmatter;
const posts = await getBlogs();
const index = posts.findIndex(
  ({ slug }) =>
    slug ===
    Astro.url.pathname.replace(/\/blog\//, "").replace(/\/$/, "" /* for prod */)
);
---

<Layout title={title} description={description} image={image}>
  <MainLayout>
    <div class="flex flex-wrap pt-3">
      <div class="w-3/4">
        <h2 class="text-2xl">{title}</h2>
      </div>
      <div class="w-1/4 flex flex-col items-end">
        <div class="text-right text-lg">{date}</div>
      </div>
    </div>

    <BlogDescription slot="description" />
    <!-- <div class="p-4">
      <p>🔖 Post Contents</p>
      <ol class="mt-4">
        {
          indices.map(({ slug, text, depth }) => (
            <li style={{ marginLeft: `${(depth - 1) * 12}px` }}>
              <a href={`#${slug}`} class="text-sm hover:text-blue-300">
                - {text}
              </a>
            </li>
          ))
        }
      </ol>
    </div> -->

    <div class="flex gap-4 flex-col">
      {
        parseTags(tags).includes("javascript") && diffDate > 365 && (
          <div class="bg-yellow-500 p-3 rounded-md">
            <span class="text-gray-800 text-sm">
              🚨 This article hasn't been updated in over a year
            </span>
          </div>
        )
      }
    </div>
    <div class="blog text-gray-900">
      <slot />
    </div>
    <hr class="border-gray-600 mt-12" />
    <div>
      <!-- <ShareButtons url={`${Astro.site?.origin}${url!}`} title={title} /> -->
      {
        index !== -1 && (
          <Pagination
            prev={index !== 0 ? posts[index - 1].slug : undefined}
            prevText={index !== 0 ? posts[index - 1].data.title : undefined}
            next={
              index !== posts.length - 1 ? posts[index + 1].slug : undefined
            }
            nextText={
              index !== posts.length - 1
                ? posts[index + 1].data.title
                : undefined
            }
            className="mt-10 flex-col md:flex-row gap-2 text-center"
          />
        )
      }
    </div>
  </MainLayout>
</Layout>
<style is:global>
  .blog {
    font-size: 16px;
    @apply sm:text-base;
  }
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4 {
    @apply font-semibold text-gray-700 mt-10 mb-1;
  }
  .blog h1 {
    @apply text-2xl;
  }
  .blog h2 {
    @apply text-xl;
  }
  .blog h3 {
    @apply text-lg;
  }
  .blog h4 {
    @apply text-base;
  }
  .blog code:not(pre > *) {
    @apply text-gray-200  bg-gray-600 mx-1 px-1 rounded-sm shadow-lg ring-white/5;
  }
  .blog ul {
    @apply list-hyphen pl-4 my-2;
  }
  .blog li > ul {
    @apply my-0;
  }
  .blog p {
    @apply my-4;
  }
  .blog pre {
    @apply p-4 text-sm rounded-lg;
  }
  .blog a {
    @apply text-blue-500;
  }
  .blog hr {
    @apply my-4 border-gray-700;
  }
  .blog img {
    @apply mx-auto;
  }
  .blog strong {
    @apply font-semibold text-orange-300;
  }
  .blog blockquote {
    @apply px-4 border border-gray-600 border-l-blue-300 border-l-2;
  }
  .blog table {
    @apply border-collapse table-auto w-full text-sm;
  }
  .blog th {
    @apply border-b border-gray-600  p-4 pl-8 pt-0 text-gray-200 text-left;
  }
  .blog tbody {
    @apply bg-gray-800;
  }
  .blog td {
    @apply border-b border-slate-700 p-4 pl-8 text-gray-400;
  }

  .blog iframe {
    max-width: 100%;
    margin: auto;
  }
</style>
