---
import Footer from "@components/Footer.astro";
import GA from "@components/GA.astro";
import Header from "@components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@const";

type Props = {
  title?: string;
  description?: string;
  image?: string;
};

const { title, description, image } = Astro.props;
const pageTitle = title ?? Astro.url.pathname.replace(/^\/|\/$/g, "");
const siteDescription = description ?? SITE_DESCRIPTION;
const ogImage = new URL(image ?? "/images/me.png", Astro.site?.origin!);
const url = new URL(Astro.url.pathname, Astro.site);
const titleContent =
  pageTitle === "" ? SITE_TITLE : `${pageTitle} - ${SITE_TITLE}`;
---

<!doctype html>
<html lang="en" class="text-black bg-white">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{titleContent}</title>
    <meta name="title" content={titleContent} />
    <meta name="description" content={siteDescription} />

    <meta property="theme-color" content="#3498db" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={titleContent} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={ogImage} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={titleContent} />
    <meta property="twitter:description" content={siteDescription} />
    <meta property="twitter:image" content={new URL(ogImage, Astro.url)} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={url} />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
  </head>
  <body
    class="antialiased mb-40 flex flex-col mt-8 mx-auto lg:w-custom w-full px-3 md:px-0"
  >
    <div class="flex flex-col">
      <Header>
        <slot name="header-action" slot="action" />
      </Header>
      <main class="flex-auto min-w-0 flex flex-col px-2 py-3">
        <slot />
      </main>
      <Footer />
    </div>
  </body>

  {import.meta.env.PROD && <GA />}
</html>

<style is:global>
  html {
    background-color: #fff;
    min-width: 360px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /* font-family: var(--font-graphik); */
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  body {
    display: flex;
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 0;
  }
</style>
