---
import Footer from "../components/Footer.astro";
import GA from "../components/GA.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";

type Props = {
  title?: string;
  description?: string;
  image?: string;
};

const { title, description, image } = Astro.props;
const pageTitle = title ?? Astro.url.pathname.replace(/^\/|\/$/g, "");
const siteDescription = description ?? SITE_DESCRIPTION;
const ogImage = new URL(image ?? "/images/me.png", Astro.site?.origin!);
const url = new URL(Astro.url.pathname, Astro.site);
const titleContent =
  pageTitle === "" ? SITE_TITLE : `${pageTitle} - ${SITE_TITLE}`;
---

<!DOCTYPE html>
<html lang="en" class="text-black bg-white dark:text-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteDescription} />
    <meta property="theme-color" content="#3498db" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content={SITE_TITLE} />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={titleContent} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={ogImage} />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:creator" content="@jagmitg" />
    <title>{titleContent}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={url} />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
  </head>
  <body class="antialiased mb-40 flex flex-col md:flex-row mt-8 mx-auto">
    <main class="flex-auto min-w-0 mt-6 flex flex-col px-2 md:px-0">
      <Header>
        <slot name="header-action" slot="action" />
      </Header>
      <section>
        <slot />
      </section>
      <Footer />
    </main>
  </body>
  {import.meta.env.PROD && <GA />}
</html>

<style is:global>
  html {
    background-color: #fff;
    min-width: 360px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    /* font-family: var(--font-graphik); */
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  body {
    display: flex;
    max-width: 52rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    margin-top: 0;
  }
</style>
